@use "abstracts" as *;

.course {
  background-color: $bg-accent-color;
  color: $text-color;
  text-align: center;

  .container {
    display: flex;
    flex-direction: column;

    .course__info {
      padding-block: 5rem;
      align-self: center;

      .course__list {
        padding-block: 5rem;
        list-style-position: inside;

        li {
          padding-block: 0.5rem;
        }
      }

      @include mq(60em) {
        width: 20%;
        flex-grow: 1;
        text-align: left;

        .course__heading {
          padding-right: 14rem;
        }
      }
    }

    .course__image {
      width: 100vw;
      align-self: center;

      @include mqMax(40em) {
        img {
          width: 100%;
        }
      }

      @include mq(60em) {
        width: 20%;
        flex-grow: 1;
      }

      @include mq(120em) {
        img {
          width: 50vw;
        }
      }
    }

    @include mq(60em) {
      flex-direction: row;
    }
  }
}
