@use "abstracts" as *;

.course {
  background-color: $bg-accent-color;
  color: $text-color;
  text-align: center;

  .container {
    display: flex;
    flex-direction: column;

    .course__info {
      padding-block: 7rem;

      .course__list {
        padding-block: 5rem;
        list-style-position: inside;

        li {
          padding-block: 0.5rem;
        }
      }

      @include mq(60em) {
        width: 50vw;
      }
    }

    .course__image {
      width: 100vw;
      overflow: visible;
      align-self: center;

      @include mq(60em) {
        width: 50vw;
        overflow: visible;

        img {
          width: 100%;
        }
      }
    }

    @include mq(60em) {
      flex-direction: row;
    }
  }
}
