@use "abstracts" as *;

.header {
  display: flex;
  flex-direction: column;
  background-color: $hf-color;

  .header__nav {
    width: 100%;
    max-height: 6rem;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    position: relative;

    .logo {
      max-width: 11rem;
      z-index: 999;
      position: absolute;
    }

    .navigation {
      display: flex;
      justify-content: flex-end;
      flex: 1;
      align-items: center;
      gap: 2.75rem;
      padding-block: 2rem;

      .download {
        display: flex;
        align-items: center;

        .pdf-icon {
          max-width: 2rem;
          padding-right: 0.5rem;
        }
      }
    }

    .working-hours {
      display: flex;
    }
  }

  .working-hours {
    background-color: $bg-primary-color;
  }
}
