@use "abstracts" as *;

.header {
  display: flex;
  flex-direction: column;
  background-color: $hf-color;
  user-select: none;

  .header__nav {
    width: 100%;
    max-height: 6rem;
    display: flex;
    gap: 2.5rem;
    justify-content: space-between;
    font-weight: 700;
    position: relative;

    @include mqMax(75em) {
      gap: 1.2rem;
    }

    @include mqMax(60em) {
      gap: 1rem;
      padding-block: 1.25rem;
      justify-content: flex-end;
    }

    .logo {
      max-width: 11rem;
      z-index: 999;
      position: absolute;

      @include mqMax(70em) {
        left: -1rem;
        top: 0;
        max-width: 9rem;
      }

      @include mqMax(40em) {
        max-width: 6rem;
      }
    }

    .navigation {
      display: flex;
      justify-content: flex-end;
      flex: 1;
      align-items: center;
      gap: 2.5rem;
      padding-block: 2rem;

      @include mqMax(75em) {
        gap: 1.2rem;
      }

      @include mqMax(70em) {
        font-size: 0.875rem;
      }

      @include mqMax(60em) {
        gap: 1.5rem;
        flex-direction: column;
        justify-content: flex-start;
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        right: -1rem;
        padding: 0;

        background-color: $hf-color-light;
        transform: translateX(100%);
        transition: all 0.4s ease-out;

        .nav-link:nth-child(1) {
          margin-top: 5rem;
        }

        &.mobile {
          transform: translateX(0);
          transition: all 0.4s ease-in;
        }
      }
    }

    a {
      transition: all 0.4s;

      &:hover {
        color: $bg-primary-color;

        path {
          fill: $bg-primary-color;
        }
      }
    }

    path {
      transition: all 0.4s;
    }

    .download {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      z-index: 999;

      @include mqMax(70em) {
        font-size: 0.875rem;
      }
    }

    .hamburger {
      display: none;
      appearance: none;
      border: none;
      background: none;
      cursor: pointer;
      z-index: 999;

      &:hover {
        span {
          background-color: $bg-primary-color;

          &:nth-child(2) {
            transform: translateX(0.35rem);
          }
        }
      }

      &.active {
        span {
          &:nth-child(1) {
            transform: translate(0.1rem, 0.78rem) rotate(135deg);
          }

          &:nth-child(2) {
            transform: translateX(1.35rem);
            opacity: 0;
          }

          &:nth-child(3) {
            transform: translate(0.1rem, -0.78rem) rotate(-135deg);
          }
        }

        &:hover {
          span {
            background-color: $bg-primary-color;
          }
        }
      }

      span {
        display: block;
        width: 1.75rem;
        height: 0.2rem;
        background-color: $text-color;
        border: 0;
        outline: 0;
        border-radius: 0.5rem;
        transform-origin: 50% 50%;
        transition: all 0.4s;
      }

      @include mqMax(60em) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 0.5rem;
        padding-inline: 0.5rem;
      }
    }
  }

  .working-hours {
    background-color: $bg-primary-color;
    color: $text-color;
    display: flex;

    .hours {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-size: 0.875rem;
      padding-block: 0.4rem;
      gap: 0.4rem;

      @include mqMax(40em) {
        font-size: 0.625rem;
        text-align: right;
        padding-block: 0.2rem;

        img {
          display: none;
        }

        strong::after {
          content: "\a";
          white-space: pre;
        }
      }
    }
  }
}
