@use "abstracts" as *;

.testimonials {
  background-color: $bg-mobile-color;
  color: $text-color;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;

    .testimonials__intro {
      color: $testimonial-text;
      font-weight: 700;
    }

    .testimonials__heading {
      padding: 0.5rem 2rem 4rem;
    }

    .testimonials__carousel {
      height: 26rem;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      position: relative;

      .testimonials__card {
        background-color: $testimonial-card;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1 0 100%;
        max-width: 22rem;

        &:first-of-type {
          padding-top: 8rem;
          color: $testimonial-text;
        }

        &:last-of-type {
          padding-top: 8rem;
          color: $testimonial-text;
        }

        .testimonials__image {
          max-width: 5.5rem;
          padding-top: 2rem;
        }

        .testimonials__stars {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.5rem;
          padding-block: 1rem;

          img:first-of-type {
            transform: scale(0.7);
          }

          img:last-of-type {
            transform: scale(0.7);
          }
        }

        .testimonials__body {
          padding-inline: 1rem;

          &:first-of-type {
            padding-block: 1rem;
          }

          &:nth-of-type(2) {
            font-weight: 400;
            padding-top: 2rem;
          }

          &:last-of-type {
            padding-bottom: 3rem;
          }
        }

        @include mq(40em) {
          flex-basis: 50%;
        }

        @include mq(60em) {
          flex-basis: 30%;
          max-width: 25rem;
        }
      }

      .testimonials__controls {
        padding-block: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        position: absolute;
        left: 50%;
        top: 115%;
        transform: translate(-50%, -50%);

        .testimonials__arrow {
          font-size: 4rem;
          transition: all 0.4s;

          &:hover {
            transform: scale(1.15);
          }

          &:active {
            transform: scale(1);
            transition: none;
          }
        }

        @include mq(60em) {
          top: 50%;
          gap: 22rem;

          .testimonials__arrow {
            font-size: 2rem;
          }
        }
      }
    }

    .testimonials__button {
      padding-block: 8rem;
    }
  }

  @include mq(60em) {
    background-color: $bg-primary-color;
  }
}
