@use "abstracts" as *;

.button {
  background-color: $text-color;
  color: $hf-color-dark;
  font-size: 1rem;
  border-radius: 2.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 10.5rem;
  height: 3rem;
  border: 1px solid $btn-border-color;
  transition: all 0.4s;

  &:hover {
    background-color: transparent;
    transform: scale(1.05);
    border-color: $text-color;
    outline: 1px solid $text-color;
    color: $text-color;
    font-weight: 600;
  }

  &:active {
    transform: scale(1);
    transition: none;
  }
}

.button--accent {
  background-color: $bg-accent-color;
  color: $text-color;
  border: 1px solid $text-color;
  transition: all 0.4s;

  &:hover {
    background-color: transparent;
    transform: scale(1.05);
    border-color: $text-color;
    outline: 1px solid $text-color;
    font-weight: 600;
  }

  &:active {
    transform: scale(1);
    transition: none;
  }
}
