* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeSpeed;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

button {
  font: inherit;
}
