$hf-color: #b50014;
$hf-color-light: #b30015d9;
$hf-color-dark: #252525;
$text-color: #ffffff;
$text-color-light: #ffffff80;
$bg-primary-color: #101010;
$bg-mobile-color: #000000;
$black-light: #0000004d;
$bg-accent-color: #a62120;
$cc-color: #66000b;
$btn-border-color: #ff0000;
$separator-line: #535353;
$testimonial-card: #ffffff1c;
$testimonial-text: rgba(255, 255, 255, 0.8);
